{
  "name": "<%= @title %>",
    "dependencies": {
<% Middleman::FrontendComponentsManager.each_component do |component| -%>
    "<%= component.name %>": "<%= component.resource_locator %>"<% unless component.equal? @frontend_components.last -%>,<% end %>
<% end -%>
    }
}
