{
  "name": "<%= @title %>",
    "dependencies": {
<% @external_assets.each do |asset| -%>
    "<%= asset.name %>": "<%= asset.resource_locator %>"<% unless asset.equal? @external_assets.last -%>,<% end %>
<% end -%>
    }
}
