{
  "name": "<%= @title %>",
    "dependencies": {
<% @external_assets.keys.each_with_index do |key, index| -%>
<% if index == @external_assets.length - 1 -%>
    "<%= key %>": "<%= @external_assets[key] %>"
<% else -%>
    "<%= key %>": "<%= @external_assets[key] %>",
<% end -%>
<% end -%>
    }
}
