$mp-img-path: image-path('<%= @theme_name %>/images') !default;

img.mp-logo-contact {
  background-image: url("#{$mp-img-path}/logo-contact.png");
}

img.mp-logo-question {
  background-image: url("#{$mp-img-path}/logo-question.png");
}
