<!doctype html>
<html lang="<%= @language %>">
  <head>
    <meta charset="utf-8">

    <title><%%= Middleman::Presentation.config.title %><%% if Middleman::Presentation.config.subtitle %>&nbsp;&ndash;&nbsp;<%%= Middleman::Presentation.config.subtitle %><%% end %></title>

<%% if Middleman::Presentation.config.description -%>
    <meta name="description" content="<%%= Middleman::Presentation.config.description %>">
<%% end -%>
    <meta name="author" content="<%%= Middleman::Presentation.config.author %>">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%%= stylesheet_link_tag 'application' %>

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        //link.href = '<%%= asset_path(:css, "reveal.js/css/print/pdf.css") %>';
        link.href = '<%%= asset_path(:css, "middleman-presentation-helpers/print/pdf.css") %>';
        document.getElementsByTagName( 'head' )[0].appendChild( link );

        window.print();
      }
    </script>

    <!-- 
    w[if lt IE 9]>
    <script src="<%%= asset_path(:js, 'reveal.js/lib/js/html5shiv.js') %>"></script>
    w<![endif]
    -->
  </head>

  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <%%= yield %>
      </div>
      <footer class="mp-site-footer">
        <div class="mp-copyright-notice">
          &copy; <%%= Time.now.strftime('%Y') %>&nbsp;&nbsp;<%%= Middleman::Presentation.config.author -%>,&nbsp;
        <span class="mp-license">
          <%%- if Middleman::Presentation.config.license -%>
            <%%= Middleman::Presentation.config.license %>
        <%%- end -%>
        </span>
        <a href="?print-pdf" class="mp-print-link"><i class="mp-print"></i></a>
      </div>
      </footer>
    </div>

    <%%= javascript_include_tag 'application' %>

    <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        width: '<%%= Middleman::Presentation.config.view_port[0] %>',
        height: '<%%= Middleman::Presentation.config.view_port[1] %>',
        controls: <%%= Middleman::Presentation.config.activate_controls %>,
        progress: <%%= Middleman::Presentation.config.activate_progress %>,
        history: <%%= Middleman::Presentation.config.activate_history %>,
        slideNumber: <%%= Middleman::Presentation.config.activate_slide_number %>,
        center: <%%= Middleman::Presentation.config.activate_center %>,
        transitionSpeed: '<%%= Middleman::Presentation.config.default_transition_speed %>',
        transition: Reveal.getQueryHash().transition || '<%%= Middleman::Presentation.config.default_transition_type %>', // default/cube/page/concave/zoom/linear/fade/none
        //theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: '<%%= asset_path(:js, "reveal.js/lib/js/classList.js") %>', condition: function() { return !document.body.classList; } },
          { src: '<%%= asset_path(:js, "reveal.js/plugin/markdown/marked.js") %>', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '<%%= asset_path(:js, "reveal.js/plugin/markdown/markdown.js") %>', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '<%%= asset_path(:js, "reveal.js/plugin/highlight/highlight.js") %>', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '<%%= asset_path(:js, "reveal.js/plugin/zoom-js/zoom.js") %>', async: true, condition: function() { return !!document.body.classList; } },
          { src: '<%%= asset_path(:js, "reveal.js/plugin/notes/notes.js") %>', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
    </script>

  </body>
</html>
