{
  "name": "<%= @title %>",
    "dependencies": {
<% Middleman::Presentation.components_manager.each_fetchable_component do |component, is_last| -%>
    "<%= component.name %>": "<%= component.resource_locator %>"<% unless is_last -%>,<% end %>
<% end -%>
    }
}
