{
  "name": "<%= @title %>",
    "dependencies": {
<% Middleman::Presentation.frontend_components_manager.each_component do |component, is_last| -%>
    "<%= component.name %>": "<%= component.resource_locator %>"<% unless is_last -%>,<% end %>
<% end -%>
    }
}
