# middleman-presentation version <%= @version %>
---
<% @config.known_options.sort.each do |field| -%>
<% if field == :theme && @config.public_send(field).blank? -%>
# theme:
#   name: <name>
#   github: <github_account>/<repository>
#   javascripts:
#     - javascripts/<name>
#   stylesheets:
#     - stylesheets/<name>
<% elsif @config.public_send(field).nil? -%>
# <%= field %>: ''
<% else -%>
# <%= field %>: <%= @config.public_send field %>
<% end -%>
<% end -%>
